.firstContainer{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.secondContainer{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 10px 10px 10px 10px;
    background-color:none;
}

.thirdContainer{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 10px 10px 10px 10px;
    background-color: purple;

}

.fourthContainer{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 10px 10px 10px 10px;
    background-color: none;

}
h1 {
    color: purple;

}
h2 {
    color: white;
    text-align: center;  
}
#h2ID {
    color: black;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    
}
.mat-list-item {
    color: black;
    font-size: 1.5em;
}

