/*
============================================
; Title: Assignment 6.4
; Author: Richard Krasso
; Edited by: Gabriel Sanchez
; Date: 2/8/2020
; Description: On Change Events
;===========================================
*/
.parent {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    border: 15px solid blue;
    padding: 50px;
    margin-top: 100px; 
    background: greenyellow; 
    }


.child {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    border: 15px solid blue;
    padding: 50px;
    margin-top: 100px; 
    background: greenyellow;
    color: red; 
    }
    

