/*
============================================
; Title: Assignment 9.3
; Author: Gabriel Sanchez
;
; Date: 3/1/2020
; Description: Bob's Computer Repair Shop
;===========================================
*/
.container {
  margin: 30px;
}

.invoiceStyle > h4 {
  margin-right: 40px;
}

.invoiceStyle > p {
  margin-left: 80px;
}

button {
  position: absolute;
  bottom: 7.5%;
}
