/*
============================================
; Title: Assignment 7.2
; Author: Richard Krasso
; Edited by: Gabriel Sanchez
; Date: 2/15/2020
; Description: Template-Driven Forms
;===========================================
*/

.loginForm {
  display: flex;
  flex-direction: column;
  background-color: lightseagreen;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 15px;
}

.btn {
  font-size: small;
  width: 100px;
  margin-left: 70%;
}
